*{
    margin:0;
    padding:0;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color:inherit;
}
body{
    position: relative;
}
html{
    overflow-x: hidden;
}
/*header样式*/
header {
    background: #fff;
    position: fixed;
    color: #D3E4F3;
    font-size: 18px;
    width: 100%;
    height: 70px;
    padding: 10px 0;
    z-index: 6;
    display:inline-block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.05);
}
header img{
    margin-left:40px;
    position: relative;
    display:inline-block;
}
header .nav{
    text-align: left;
    padding:19px 0;
}
header .nav ul{
    display: inline-block;
    float: right;

}
header .nav ul li{
    display: inline-block;
    margin-right:20px;

}
header .nav span {
    color:#459FD4;
    font-weight: bolder;
}
header .nav a{
    text-decoration: none;
    color: #59708B;
    padding-right:20px;
    line-height: 32px;
}
header .nav .level-2{
    position:absolute;
    top:-999em;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
    border-top: 1px solid transparent;
    font-size: 16px;
    width:inherit;
    margin: 0 0 0 -10px;
}
header .nav .level-2 li{
    display: list-item;
    padding:10px 0;
    margin-left:20px;
}
header .nav .level-2 li a{

}
header .nav li:hover ul{
    top:auto;

}

header .nav .button{
    border: 1px solid #459FD4;
    color:#459FD4;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 15px;
    text-align: center;
}
header .nav .button:hover{
    background-color: #459FD4;
    color:#fff;
}
/*footer样式*/
footer{
    position: relative;
    display: inline-block;
    height: 340px;
    background: #454545;
    color: #A6A6A6;
    width:100%;
    font-family: "Microsoft YaHei", "helvetica neue", arial, sans-serif ;
    font-size: 14px;
}
h4{
    font-family: "Microsoft YaHei", "helvetica neue", arial, sans-serif ;
    font-size: 18px;
    font-weight: bolder;
    padding: 30px 0;
}
footer div {
    display: inline-block;
    height: 241px;
    vertical-align: top;
    margin-left:120px;
}
footer li{
    margin-bottom: 15px;
}
footer a:hover{
    color:#459FD4;
    text-decoration: underline;
}
footer .chinese{
    border: 1px solid gray;
}
footer .extra ul{
    display: inline-block;
    position: relative;
    font-size: 1em;
    margin-left: 0;
    padding: 30px 0;
    z-index: 1;
}
footer .extra .emblem{
    display: inline-block;
    width: 34px;
    height: 34px;
    background-position: 0 0;
    background-image: url(images/footer.png);
}
footer .extra .wooyun{
    display: inline-block;
    width: 104px;
    height: 34px;
    background-position: -34px 0;
    background-image: url(images/footer.png);
}
footer .extra .trucs{
    display: inline-block;
    position: absolute;
    right: -90px;
    top: 66px;
    width: 66px;
    height: 75px;
    background-position: 0 -34px;
    background-image: url(images/footer.png);
}
footer .extra .sf{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    background: url("images/icon.png") ;
}
footer .extra .weibo{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    background-image: url(images/icon.png);
    background-position: 0 -20px;
}
footer .extra .weixin{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    background-image: url(images/icon.png);
    background-position: 0 -40px;
}
footer .extra .github{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    background-image: url(images/icon.png);
    background-position: 0 -60px;
}
 a .more{
    background: url("images/more.png") no-repeat scroll;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 10px 0 5px;
}
 footer .emblem{
     display: inline-block;
     width: 34px;
     height: 34px;
     background-position: 0 0;
     background: url("images/footer.png") no-repeat ;
 }
footer p{
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background-color: #383737;
    color: #6d6d6d;
    letter-spacing: 0;
}
section{
    background-color: #459FD4;
    display: block;
}
.container {
    position:relative;
    width: 100%;
    height:550px;
    overflow: hidden;
    margin: 0 auto;
}
.container  ul{
    position: relative;
    top: 100px;
    left: 0;
    width: 400%;
    height: 100%;
    overflow: hidden;
    animation-name: jicemoon;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
    animation-delay:0.5s;
}
@keyframes jicemoon {
    0%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    75%{
        left: -300%
    }
    100%{
        left: -0;
    }
}
.container  ul li{
    float: left;
    height: 100%;
    list-style: none;
    width: 25%;
}
section .s-part{
    background-color: #fff;
}
section .t-part {
    position: relative;
    height:600px;
    width: 100%;
    display: inline-block;
}

section .t-part .img-block{
    display: inline-block;
    top: 50%;
    width:100%;
    height:464px;
    background-size: contain;
    margin-top:65px;
    padding-left:50px;
}
section .t-part .text-block{
    display: inline-block;
    left:50%;
    color: #fff;
    position: absolute;
    top:40px;
    width: 678px;
    margin-left: -339px;
    text-align: center
}
h1{
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
    margin-right: 25px;
}
h4{
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
}
p{
    margin-top: 6px;
    font-weight: 500;
    line-height: 22px;
}
section .client-list{
    position: relative;
    top: -50px;
    max-width: 1256px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}
section .client-list .brand{
    display: inline-block;
    width: 276px;
    height: 276px;
    margin-right: -80px;
    margin-bottom: -100px;
    background-position: center;
    transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 1);
}
section .client-list .brand .logo{
    margin: 123px auto 0;
    background: url("images/client.png");
    width: 110px;
    height: 26px;
    opacity: 0.5;
    transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 1);
}
.client-list .brand:nth-child(1) .logo {
    background-position: 0px 0px;
}
.client-list .brand:nth-child(2) .logo {
    background-position: 0px -26px;
}
.client-list .brand:nth-child(3) .logo {
    background-position: 0px -52px;
}
.client-list .brand:nth-child(4) .logo {
    background-position: 0px -78px;
}
.client-list .brand:nth-child(5) .logo {
    background-position: 0px -104px;
}
.client-list .brand:nth-child(6) .logo {
    background-position: 0px -130px;
}
.client-list .brand:nth-child(7) .logo {
    background-position: 0px -156px;
}
.client-list .brand:nth-child(8) .logo {
    background-position: 0px -182px;
}
.client-list .brand:nth-child(9) .logo {
    background-position: 0px -208px;
}
.client-list .brand:nth-child(10) .logo {
    background-position: 0px -234px;
}
.client-list .brand:nth-child(11) .logo {
    background-position: 0px -260px;
}
.client-list .brand:nth-child(12) .logo {
    background-position: 0px -286px;
}
.client h1{
    text-align: center;
    display: list-item;
    color:#fff;
    padding-top:40px;
}

section .s-part .text-block{
    display: inline-block;
    position: absolute;
    left: 50%;
    width: 445px;
    margin: 140px 0 0 76px;
}
section .s-part{
    width:100%;
    height:400px;
    display: block;
    position: relative;
    background:url(images/bgCoverage.png) repeat-x center;
}
section .f-part{
    display: block;
    background-color: skyblue;
    position:relative;
    width:100%;
    height:400px;
    background: url(images/bgMonitor.png) no-repeat center;
}
section .f-part .text-block{
    display: inline-block;
    width: 430px;
    margin: 140px 0 0 90px;
}
section .fi-part{
    display: block;
    background-color: #fff;
    position:relative;
    width:100%;
    height:400px;
}
section .fi-part .text-block{
    display: inline-block;
    position: absolute;
    left: 50%;
    width: 522px;
    margin: 50px 0 0 58px;
}
section .fi-part .text-block p.title{
    font-size: 1.1rem;
    margin-bottom: 34px;
}
section .last{
     width: 100%;
     height:300px;
     line-height: 100px;
     position: relative;
     text-align: center;
     color: #fff;
     background: url(images/bgTrial.png) repeat-x center;
 }
section .last h1{
    margin-top: 0;
    font-size: 40px;
    font-weight: 500;
}
section .last .line{
    margin: 0 auto;
    width:35%;
    height: 1px;
    background-color: #fff;
    margin-bottom:20px;
}
section .last .button{
    border: solid 1px #fff;
    padding:10px 50px;

}
section .last .button:hover{
    background: skyblue;
}